@tailwind base;
@tailwind components;
@tailwind utilities;

.header-wrapper{
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
   z-index: 1000; 
   background-color: white; */
  /* background-color: #333; Example background color */
  /* padding: 10px; Add padding for spacing */
}

button{
  outline: none !important;
}

.bg-yel{
  background-color: #EEA323 !important;
}
.bg-yel1{
  background-color: #f19d0a !important;
}

.bg-white-call-btn{
  background-color: whitesmoke !important;
  color: #EEA323 !important;
}

.bg-white-call-btn:hover{
 
    background-color: #EEA323 !important;
    color:  whitesmoke !important;
 
}

.text-col{
color: #EEA323 !important;
}



.btn.btn-outline-primary {
  color: #EEA323 !important;
  border-color: #EEA323 !important;
  border: 0.0625rem solid;
}

.style-check-orange {
  color: #EEA323 ; /* Replace with your desired color code */
}


.css-i0pm0-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #EEA323 !important;
}

.signin-btn{
  margin-right: 27px !important;
}

.auth-h1{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Amazon Ember;
}



.signin-btn {
 
  transition: all 0.5s;
  cursor: pointer;
 
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.signin-btn{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.signin-btn:after {
  content: '';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.signin-btn:hover{
  padding-right: 24px;
  padding-left:8px;
}

.signin-btn:hover:after {
  opacity: 1;
  right: 10px;
}

.zindex{
  z-index: 999 !important;
}




.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #EEA323;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg,  #ff7300, #fffb00, #48ff00 );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #EEA323
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #EEA323;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



/* button */

