@tailwind base;
@tailwind components;
@tailwind utilities;

.header-wrapper{
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
   z-index: 1000; 
   background-color: white; */
  /* background-color: #333; Example background color */
  /* padding: 10px; Add padding for spacing */
}