/* Login & Register */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  
    font-weight: 700;
  }
  
  .wrapper form {
    padding: 2.5rem 3rem;
  }
  
  .wrapper form .btn {
    background-color: #fa9c23;
    border-color: #fa9c23;
    color: white;
    margin-top: 2.5rem;
  }
  
  .wrapper form a {
    font-size: 0.9rem;
    color: grey;
  }
  
  /* Avatar */
  .avatar {
    display: inline-block;
    margin-bottom: 0;
    height: 3rem;
    width: 3rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
  
  .btn.focus,
  .btn:focus {
    outline: 0;
    box-shadow: none;
  }
  